body {
    background-image: url(/img/bg-sunset.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

.container {
    width: 600px;
    background-color: #ecf0f1;
    margin: 200px auto;
    padding: 20px 40px;
}

h2 {
    margin-bottom: 10px;
}

input {
    width: 525px;
    border:1px solid #C2C2C2;
    padding: 10px;
}

button {
    padding: 10px;
    color: white;
    text-transform: uppercase;
    background-color: #2CA5D8;
    border: none;
}

#copy {
    font-size: 14px;
    color: grey;
}

#resultParagraph, #ga4Paragraph {
    font-size: 14px;
}

#ga4Paragraph {
    display: none;
}